$background: white;
$primary-color: #006AFF;


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// body{
//     background-color: white;
//     width: 100vw;
//     height: 100vh;
// }

.card {
    background: $background;
    min-height: 80%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    padding: 16px;

}



.chat-list {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: auto;
    max-height: 600px;

    .chat-item {
        max-width: 80%;
        margin: 8px 0px;
        display: flex;
        flex-direction: row;

        #message-body {
            background: $primary-color;
            margin: auto 8px;
            padding: 8px 24px;
            border-radius: 30px;
            color: white;

        }

        #avatar {
            height: 36px;
            width: 36px;
            object-fit: cover;
            border-radius: 50%;
            z-index: 99;
            border: 3px solid $background;
        }

        #time-details {
            margin: auto 0;
            padding-top: 16px;
        }
    }

    .left {
        margin-right: auto;
        margin-left: 8px;

        #message-body {
            margin-left: -10px;
            margin-top: 18px;
        }
    }

    .right {
        margin-right: 8px;
        margin-left: auto;
        flex-direction: row-reverse;

        #message-body {
            margin-right: -15px;
            margin-top: 18px;
        }

    }
}

.chat-footer {
    display: flex;
    flex-direction: row;
    padding-top: 30px;

    // min-height: 50px;
    #chat-text {
        flex: 1;
        margin: 0 5px;
        // border: 0px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        // padding: 16px;
    }

    #send-button {
        border: 0;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        background: rgb(80, 200, 120);

        padding: 0 8px;
    }
}


h3 {
    text-align: center;
    color: red;
}