<div class="container">
  <div class="card">
    <div class="chat-list" #chatListContainer>
      <ng-container *ngFor="let item of chatMessages">
        <div class="chat-item left"
          [ngClass]="{'right':item?.user?.id == currentUser.id,'left':item?.user?.id!=currentUser.id}">
          <img id="avatar" [src]="item?.user?.profileImageUrl" />
          <p id="message-body">{{item.messages}}</p>
          <span id="time-details">{{item?.created_at| date:'shortTime'}}</span>
        </div>
      </ng-container>
    </div>
    <div class="chat-footer input-group mb-3">
      <input type="text" class="form-control rounded-8" placeholder="Recipient's username"
        aria-label="Recipient's username" aria-describedby="button-addon2" id="chat-text" [(ngModel)]="chatInput">
      <button class="btn btn-outline-secondary rounded-8" type="button" id="send-button" (click)="send()"
        [disabled]="chatInput.length<=0">Button</button>
    </div>
  </div>
</div>